body {
        background-color: azure;
        color: #333;
        opacity: .9;
    }
    div#tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 100px;                  
	height: auto;                 
	padding: 2px;             
	font: 18px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none; 
    }
    .counties {
      fill: none;
    }

    .states {
      fill: none;
      stroke: #fff;
      stroke-linejoin: round;
    }
    .axis {
      fill: #333;
      stroke: #333;
      opacity: .9;
    } 
    .legend rect {
          fill:white;
          stroke:#333;
          opacity:0.8;
    }
    .container {
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
    }
    #main_view {
        background-color: #333;
        font-size: 16px;
        height: 1000px;
        width: 70%;
        }
    .container a {
        float: left;
        font-size: 16px;
        color: azure;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;    
        border: none;
        outline: none;
        color: azure;
        padding: 14px 16px;
        background-color: inherit;
    }

    .container a:hover, .dropdown:hover .dropbtn {
        background-color: #1976d2;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: azure;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #1976d2;
    }

    .show {
        display: block;
    }
    
    #mypie1 {
        position: relative;

    }
    #mypie2 {
        position: relative;
        
    }
    #line_plot_one {
        
        padding-right: 2px;
        padding-top: 8%;
        
        
    }
    #chart {
        height: 700px;
        position: relative;
        float: left;
        padding-left: 1px;
        padding-right: 5px;
        width: 700px;
        
    }
    #pie_container { 
        margin-top: 70px;
        margin-left: 80px;
        position: relative;
        float: left;
        width: 48%;
    }
    #mypie1{
        position: relative;
        top: 35px;
        left: 200px;
    }
    #label9 {
        margin: 20px;
        transform:translate(-65px,-240px);
        -webkit-transition: transform 2s; /* For Safari 3.1 to 6.0 */
        transition: transform 2s;
    }
    #label6 {
        margin: 20px;
        transform:translate(-250px,200px);
        -webkit-transition: transform 2s; /* For Safari 3.1 to 6.0 */
        transition: transform 2s;
    }
    #label4 {
        margin: 20px;
        transform:translate(65px,260px);
        -webkit-transition: transform 2s; /* For Safari 3.1 to 6.0 */
        transition: transform 2s;
    }